body {
    margin: 0;
    padding: 10px 20px;
}

.progress-bar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: red;
    border: 1px solid black;
    margin-bottom: 16px;
}

.day-progress-bar .divider {
    position: absolute;
    width: 1px;
    background: black;
    height: 100%;
    top: 0;
    z-index: 1;
}

.progress {
    background: green;
    height: 100%;
    width: 0;
}

.progress-number {
    font-size: 40px;

    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    text-align: center;

    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.textarea,
.special {
    white-space: break-spaces;
    font-size: 16px;
}

.progress-control {
    margin-bottom: 16px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.fingers {
    width: 100%;
    height: 250px;
    border: 2px dashed black;
}